<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <i ng-show="sortColumn == 1" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="sortColumn == 1" class="glyphicon glyphicon-triangle-bottom"></i>
                            <label ng-click="sort(usernameComp)">UserName</label>
                        </th>
                        <th>
                            <label>Password</label>
                        </th>
                        <th>
                            <i ng-show="sortColumn == 2" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="sortColumn == 2" class="glyphicon glyphicon-triangle-bottom"></i>
                            <label ng-click="sort(firstnameComp)">First Name</label>
                        </th>
                        <th>
                            <i ng-show="sortColumn == 3" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="sortColumn == 3" class="glyphicon glyphicon-triangle-bottom"></i>
                            <label ng-click="sort(lastnameComp)">Last Name</label>
                        </th>
                        <th>
                            <label>Roles</label>
                        </th>
                        <th>
                            <label>Actions</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" ng-model="username" class="form-control" placeholder="username">
                        </th>
                        <th>
                            <input type="password" ng-model="password" class="form-control" placeholder="password">
                        </th>
                        <th>
                            <input type="text" ng-model="firstName" class="form-control" placeholder="firstName">
                        </th>
                        <th>
                            <input type="text" ng-model="lastName" class="form-control" placeholder="lastName">
                        </th>
                        <th>
                            <input type="text" ng-model="roles" class="form-control" placeholder="role1,role2">
                        </th>
                        <th>
                            <i ng-click="addUser()" class="glyphicon glyphicon-plus"></i>
                            <i ng-click="updateUser()" class="glyphicon glyphicon-ok"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>
                        <td>&nbsp</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles}}</td>
                        <td>
                            <i ng-click="deleteUser($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="selectUser($index)" class="glyphicon glyphicon-cog"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

