<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Recommend Your Favorite Movie To Others !</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent ullamcorper dapibus eros, non dictum dolor imperdiet id.
                Integer ex urna, semper in tristique vel, rutrum nec lacus.
                In hac habitasse platea dictumst. Suspendisse ultrices,
                quam bibendum tincidunt malesuada, eros nunc facilisis nisl, fermentum molestie dolor metus nec tortor.
                Nulla a lacus et lacus porta luctus. Nulla volutpat nulla a odio bibendum, id dictum nibh lacinia.
                Integer posuere lacus non lorem luctus dictum. Aliquam erat volutpat.
                Quisque vitae purus in magna lacinia vestibulum nec vitae justo.

            </p>
        </div>
    </div>
</div>
