h1{color:green;}
h2#introhtml{color:greenyellow;
    background-color:lightblue}
.blueFg{color: mediumpurple; background-color: cornflowerblue;}
.usualColor{color:limegreen}
#secondParagraph{color: pink; background-color: cornflowerblue}