<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{currentMovie.title}}</h1>
            <h3 class="page-header" ng-show="currentMovie.title != currentMovie.original_title">({{currentMovie.original_title}})</h3>
            <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.poster_path}}" height="300px" class="pull-left"/>
            <div class="pull-right">
                <button class="btn btn-success" ng-click="createRecommendation(currentMovie)"><a href="#/field">Recommend This Movie</a></button>
            </div>
            <div>
                <table class="table table-striped">
                    <tboby>
                        <tr><td><label>Release Date:&nbsp&nbsp</label>{{currentMovie.release_date}}</td></tr>
                        <tr><td><label>Adult:&nbsp&nbsp</label>{{currentMovie.adult}}</td></tr>
                        <tr><td><label>Popularity:&nbsp&nbsp</label>{{currentMovie.popularity}}</td></tr>
                        <tr><td><label>Overview:&nbsp&nbsp</label></br><p>{{currentMovie.overview}}</p></td></tr>
                        <tr>
                            <td>
                            <label>Stills:</label></br>
                            <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.backdrop_path}}" height="300px"/>
                            </td>
                        </tr>
                    </tboby>
                </table>
            </div>
        </div>
    </div>
</div>