<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{currentRecommendation.title}}</h1>
        <ul class="nav nav-tabs">
            <li id="recommendationstab"><a href="#/recommendations" data-toggle="tab">Recommendations</a></li>
            <li class="active" id="fieldstab"><a href="#/" data-toggle="tab">Contents</a></li>
        </ul>
        <form class="form-inline">
            <table class="table table-striped">
                <tbody ng-model="fields" id="sortable">
                <tr>
                    <td>
                        <label>How Much Do You Recommend This Movie ? &nbsp</label>
                        <span class="starRating">
                              <input id="rating6" type="radio" ng-model="rating" ng-change="setRating()" value="6">
                              <label for="rating6">6</label> &nbsp
                              <input id="rating5" type="radio" ng-model="rating" ng-change="setRating()" value="5">
                              <label for="rating5">5</label> &nbsp
                              <input id="rating4" type="radio" ng-model="rating" ng-change="setRating()" value="4">
                              <label for="rating4">4</label> &nbsp
                              <input id="rating3" type="radio" ng-model="rating" ng-change="setRating()" value="3">
                              <label for="rating3">3</label> &nbsp
                              <input id="rating2" type="radio" ng-model="rating" ng-change="setRating()" value="2">
                              <label for="rating2">2</label> &nbsp
                              <input id="rating1" type="radio" ng-model="rating" ng-change="setRating()" value="1">
                              <label for="rating1">1</label> &nbsp
                        </span>
                    </td>
                    <td>
                        &nbsp
                    </td>
                </tr>
                <tr ng-repeat="field in currentFields" ng-switch="field.type">
                    <td ng-switch-when="TEXT">
                        <label>{{field.label}}</label><br/>
                        <div class="input-group">
                            <input ng-model="field.value" type="text" style="width:400px" class="form-control">
                        </div>
                    </td>
                    <td ng-switch-when="TEXTAREA">
                        <label>{{field.label}}</label><br/>
                        <div class="input-group">
                            <textarea ng-model="field.value" type="text" style="width:400px" class="form-control"></textarea>
                        </div>
                    </td>
                    <td>
                        <button ng-click="updateField($index)" class="btn btn-success">Save Change</button>
                        <button ng-click="deleteField($index)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <!--
                <tr>
                    <td>
                        <label>Photos:</label></br>
                        <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.poster_path}}" height="200px"/>
                        <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.backdrop_path}}" height="200px"/>
                    </td>
                    <td>
                        <i ng-click="" class="glyphicon glyphicon-plus"></i>
                    </td>
                </tr>
                -->
                <tr>
                    <td>
                        <Label>Add New Content:</Label><br/>
                        <div class="input-group">
                            <select ng-model="option">
                                <option>Actors</option>
                                <option>Directors</option>
                                <option>Regions</option>
                                <option>Comments</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button ng-click="addField(option)" class="btn btn-primary">Add Content</button>
                        &nbsp
                        &nbsp
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
