<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms: Registration Form</h1>
        <ul class="nav nav-tabs">
            <li id="formstab"><a href="../forms/forms.view.html" data-toggle="tab">Forms</a></li>
            <li class="active" id="fieldstab"><a href="fields.view.html" data-toggle="tab">Fields</a></li>
        </ul>
        <form class="form-inline">
           <table class="table table-striped">
               <tbody>
                 <tr>
                     <td>
                         <label>First Name:</label><br/>
                         <input type="text" placeholder="First Name"/>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Last Name:</label><br/>
                         <input type="text" placeholder="Last Name"/>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Date Of Birth:</label><br/>
                         <input class="form-control" id="dateofbirth" type="date"/>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Gender:</label><br/>
                         <select>
                             <option value="female">Female</option>
                             <option value="male">Male</option>
                         </select>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Roles:</label><br/>
                         <input type="checkbox"/>Admin<br/>
                         <input type="checkbox"/>Student<br/>
                         <input type="checkbox"/>User<br/>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>

                 </tr>
                 <tr>
                     <td>
                         <label>License Agreement:</label><br/>
                         <input type="radio"> Yes<br/>
                         <input type="radio"> No<br/>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-pencil"></i>
                         <i class="glyphicon glyphicon-plus"></i>
                         <i class="glyphicon glyphicon-remove"></i>
                         <i class="glyphicon glyphicon-align-justify"></i>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <Label>Add New Field:</Label><br/>
                         <select>
                             <option>Single Line Text</option>
                             <option>Date</option>
                             <option>Dropdown</option>
                             <option>Checkboxes</option>
                             <option>Radiobuttons</option>
                             <option>Paragraph Text Field</option>
                         </select>
                     </td>
                     <td>
                         <i class="glyphicon glyphicon-plus"></i>
                     </td>

                 </tr>

               </tbody>

           </table>
        </form>
    </div>
</div>


