<div class="container-fluid" ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Recommend Your Favorite Movie To Others !</h1>
            <!--
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="movie in popularMovies track by $index">
                    <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>{{movie.title}}</h4>
                    <span class="text-muted">{{movie.release_date}}</span>
                </div>
            </div>
            -->
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/harrypotter2.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">Harry Potter Series</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/infernalaffairs.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">無間道 II</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/graduate.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">The Graduate</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/maurice.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">Maurice</span>
                </div>
            </div>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/rainman.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">Rain Man</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/僵尸道长.jpeg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">僵尸到长 II</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/SPEC〜翔〜_Poster.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">SPEC~翔</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../../../image/Sgconcertincentralpark.jpg" width="200" height="200"  alt="Generic placeholder thumbnail">
                    <span class="text-muted">Simon & Garfunkel</span>
                </div>
            </div>
            <div>
                <h3>
                   Sign up and recommend your favorite movie to others ....
                </h3>
            </div>
        </div>
    </div>
</div>
