<style>

    #title{
        position:absolute;
        top:70px;
        left:300px;
        color:forestgreen;
        font-family: Georgia;
    }

    #button{
        position:absolute;
        top:335px;
        left:300px;
        width:550px;
    }

    #table{
        position:absolute;
        top:420px;
    }

    .btn-primary {
        background:lightskyblue;
        border: 0 none;
        font-color: white;
        font-weight: 700;
        height:50px;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Movie Details</h1>
            <div>
                <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.poster_path}}" height="300px" class="pull-left"/>
            </div>
            <div>
                <div id="title">
                    <h2>{{currentMovie.title}}</h2>
                    <h2 ng-show="currentMovie.title != currentMovie.original_title">
                        ({{currentMovie.original_title}})</h2>
                </div>
                <div id="button">
                    <button class="btn btn-primary btn-block" ng-click="createRecommendation(currentMovie)">
                        <a href="#/field">Recommend This Movie</a></button>
                </div>
            </div>
            <div id="table">
                <table class="table table-striped">
                    <tboby>
                        <tr><td><label>Release Date:&nbsp&nbsp</label>{{currentMovie.release_date}}</td></tr>
                        <tr><td><label>Adult:&nbsp&nbsp</label>{{currentMovie.adult}}</td></tr>
                        <tr><td><label>Popularity:&nbsp&nbsp</label>{{currentMovie.popularity}}</td></tr>
                        <tr><td><label>Overview:&nbsp&nbsp</label></br><p>{{currentMovie.overview}}</p></td></tr>
                        <tr>
                            <td>
                            <label>Stills:</label></br>
                            <img ng-src = "http://image.tmdb.org/t/p/w500/{{currentMovie.backdrop_path}}" height="300px"/>
                            </td>
                        </tr>
                    </tboby>
                </table>
            </div>
        </div>
    </div>
</div>